.App {
    display: grid;
    grid-template-rows: .5fr 2fr .5fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    width: 95%;
    max-width: 600px;
    background-color: var(--clr-dark-grayish-blue);
    border-radius: 1em;
    padding: 1.25em;
}

.advice-id {
    color: var(--clr-neon-green);
    font-size: .75em;
    font-weight: var(--fw-normal);
}

.advice-adv {
    height: 120px;
    margin: 0 auto;
}

button {
    border: none;
    background-color: var(--clr-neon-green);
    border-radius: 50%;
    width: 50px;
    height: 50px
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 3px var(--clr-neon-green);
}

button:active {
    transform: scale(.9);
}

@media (min-width: 600px) {
    .App {
        height: 500px;
    }
}
