*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-light-cyan: hsl(193, 38%, 86%);
  --clr-neon-green: hsl(150, 100%, 66%);
  --clr-grayish-blue: hsl(217, 19%, 38%);
  --clr-dark-grayish-blue: hsl(217, 19%, 24%);
  --clr-dark-blue: hsl(218, 23%, 16%);

  --fw-light: 200;
  --fw-normal: 400;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 28px;
}