*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-light-cyan: hsl(193, 38%, 86%);
  --clr-neon-green: hsl(150, 100%, 66%);
  --clr-grayish-blue: hsl(217, 19%, 38%);
  --clr-dark-grayish-blue: hsl(217, 19%, 24%);
  --clr-dark-blue: hsl(218, 23%, 16%);

  --fw-light: 200;
  --fw-normal: 400;
}

html,
body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  align-items: center;
}

body {
  display: grid;
  align-items: center;
  height: 100vh;
  background-color: var(--clr-dark-blue);
  color: var(--clr-light-cyan);
  font-family: 'Manrope', sans-serif;
  font-size: 22px;
  font-weight: var(--fw-light);
  text-align: center;
}

@media (min-width: 600px) {
  body {
    font-size: 28px
  }
}